<header>
    <nav>
        <a href="/">AI@EDGE Portal</a>
    </nav>
    <ul>
        <li><a href="/deploy">Deployment</a></li>
        <li><a href="/migration">Migration</a></li>
    </ul>

</header>