<header>
    <nav>
        <a href="/">AI@EDGE Portal</a>
    </nav>
    <ul>
        <li><a href="/deployment/new">New Deployment</a></li>
        <li><a href="/migration/new">New Migration</a></li>
        <li><a href="/deployment">Deployment history</a></li>
        <li><a href="/migration">Migration history</a></li>
    </ul>

</header>