<h2>Search Migration</h2>
<form action="/migration" method="GET">
  <label>URL</label>
  <input type="text" name="url" value="<%= searchOptions.url %>">
  <button type="submit">Search</button>
</form>
<br>
<div>
  <% migrations.forEach(migration => { %>
    <div><%= migration.url %></div>
  <% }) %>
</div>
